<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 2px;
  color: white;
}

h2 {
  font-size: 15px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 50px;
  color: white;
}

body {
  font-family: Arial;
  background: #FFE4E1;
}


#nameDisplay {
  font-family: Arial;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black;

  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid;
  box-sizing: border-box;
  border-color: #800000;
  border-radius: 5px;
  vertical-align: middle;
  margin: auto;
  margin-bottom: 10px;
  
  }


#nameDisplay {
  font-family: Arial;
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;

  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid;
  box-sizing: border-box;
  border-color: #800000;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  vertical-align: middle;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

button {
  font-family: Arial;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 5px;
  top:50%; 
  left:50%;
  display:block;
  margin: 0 auto;
  background: #800000;
}

.container .btn:hover {
    background-color: black;
    color: white;
}


/* Responsive layout */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }

}
</style>
</head>

</body>
</html>
